.grade{
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}

.sub{
    padding-bottom: 10px;
}
#cgpa, #credits{
    width: 100%;
}

#label1, #label2{
    display: block;
    margin-bottom: 4px;
    margin-top: 13px;
}

#h{
    margin-top: 13px;
    margin-bottom: 13px;
    display: block;
    width: 100%;
}
div.ui.checkbox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

div.input1{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

body{
    margin-top: 20px;
}

#h1{
    text-align: center;
}
.ui form{
    border: 0.5px solid rgba(34,36,38,.15);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 5px;
}

#message{
    font-size: 1.2em;
    margin-bottom: 5px;
}
#k{
    color: white;
}



